html {
  width: 100%;
}
body {
  width: 100%;
}
main {
  padding-top: 3rem;
  z-index: 0;
}
.background {
  background: url('../images/plans-background.jpg') center/cover border-box;
  filter: grayscale(30%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
.plan {
  position: relative;
  background: lightgreen;
  width: 80%;
  border: 0.1rem solid black;
  border-left: none;
  margin: 1rem 0;
  z-index: auto;
  overflow: hidden;
}

.plan > a {
  display: block;
  padding: 2rem;
  text-decoration: none;
  color: black;
}

.plan__title {
  color: black;
  font-size: 1.5rem;
}
.plan__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.3rem;
  padding: 0.3rem;
  font-size: 0.5rem;
  color: white;
  background: red;
  border-radius: 8px;
  z-index: 0;
  transform: rotateZ(45deg) translateX(3.8rem) translateY(-3.5rem);
  transform-origin: center;
  width: 12rem;
  text-align: center;
}
.plan__subtitle {
  color: grey;
}
.plan__description {
  background: white;
  padding: 0.6rem;
  border: 0.2rem solid black;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
  text-shadow: 1px -10px 10px red;
}

.plan.premium {
  background: darkgreen;
  float: right;
  border-right: none;
  text-align: right;
}

.plan.premium:hover,
.plan.premium:active {
  border-right: none;
  border-left: 0.2rem solid orange;
}
.quickfix {
  clear: both;
}
.plan__title.premium {
  color: white;
}
.plan__subtitle.premium {
  color: lightgrey;
}

.plan:hover,
.plan:active {
  border: 0.2rem solid orange;
  border-left: none;
}

@media (min-width: 40rem) {
  main {
    max-width: 60rem;
  }
  .plan {
    border-left: 0.1rem solid black;
  }
  .plan.premium {
    border-right: 0.1rem solid black;
  }

  .plan:hover,
  .plan:active {
    border-left: 0.2rem solid orange;
  }
  .plan.premium:hover,
  .plan.premium:active {
    border-right: 0.2rem solid orange;
  }
}
